* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav {
    background-color: rgb(121, 128, 128);
    color: black;
    padding: 10px 20px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}
.nav i {
    margin-top: 11px;
    font-size: 23px;
    margin-right: 10px;
}
.first-div {
    height: 500px;
    width: 100%;
    background-image: url("Images/pic-2.webp");
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-div .cont {
    height: 400px;
    width: 1200px;
   
    display: flex;
}
.first-div .cont .left {
    height: 400px;
    width: 600px;
    
}
.first-div .cont .left img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    opacity: 0.8;
}
.first-div .cont .left img:hover {
    opacity: 1;
}
.first-div .cont .right {
    height: 400px;
    width: 600px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.first-div .cont .right h1 {
    color: rgb(247, 7, 99);
    margin-bottom: 20px;
}
.first-div .cont .right p {
    margin-bottom: 15px;
}
.first-div .cont .right h5 {
    margin-bottom: 20px;
}
.first-div .cont .right a {
    text-decoration: none;
    background-color: blue;
    width: 105px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}
.first-div .cont .right a:hover {
    background-color: #f7044d;
    font-size: 15px;
}
.sec-div {
    height: 600px;
    width: 100%;
    background-image: url("Images/pic-3.webp");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-div .cont {
    height: 400px;
    width: 500px;
    text-align: center;
    padding-top: 100px;
}
.sec-div .cont h1 {
    margin-bottom: 20px;
}
.sec-div .cont p {
    margin-bottom: 30px;
}
.sec-div .cont a {
    border-radius: 6px;
}
.sec-div .cont #one {
    background-color: #fff;
    text-decoration: none;
    border: 1px solid blue;
    padding: 8px 15px;
    margin-right: 10px;  
}
.sec-div .cont #one:hover {
    background-color: rgb(149, 242, 149);
    border-style: none;
    color: black;
}
.sec-div .cont #two {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 9px 16px;   
}
.sec-div .cont #two:hover {
    background-color: rgb(36, 37, 41);
    border-style: none;
    color: #fff;

}
.third-div {
    height: 700px;
    width: 100%;
    background-image: url("Images/pic-4.webp");
    position: relative;
}
.third-div #fir {
    position: absolute;
    top: 100px;
    left: 270px;
    border: 1px solid black;
    opacity: 0.7;
}
.third-div #fir:hover {
    opacity: 1;
}
.third-div #sec {
    position: absolute;
    top: 300px;
    left: 620px;
    border: 1px solid black;
    opacity: 0.7;
}
.third-div #sec:hover {
    opacity: 1;
}
.third-div .cont {
    height: 450px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    top: 90px;
    left: 980px;
    padding: 40px;
    line-height: 40px;
    border-radius: 10px;
}
.third-div .cont h1 {
    margin-bottom: 15px;
}
.third-div .cont ul {
    margin-bottom: 15px;
    list-style-type: none;
}
.third-div .cont ul .tick {
    margin-right: 8px;
    color: rgb(248, 11, 90);
}
.third-div .cont h5 {
    margin-bottom: 15px;
}
.third-div .cont a {
    text-decoration: none;
    background-color: blue;
    color: #fff;
    padding: 10px 17px;
    border-radius: 6px;
    margin-top: 10px;
}
.third-div .cont a:hover {
    background-color: black;
    color: white;
    border-style: none;
}
.four-div {
    height: 700px;
    width: 100%;
    background-color: blue;
}
.four-div .head {
    height: 200px;
    width: 100%;
    background-color: blue;
    text-align: center;
    padding-top: 50px;
    color: #fff;
}
.four-div .head h1 {
    margin-bottom: 10px;
}
.four-div .cont {
    height: 500px;
    width: 90%;
    background-color: blue;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.four-div .cont .cards {
    height: 390px;
    width: 330px;
    background-color: #fff;
    border: 1px solid black;
    padding: 25px;
    line-height: 30px;
}
.four-div .cont .cards img {
    border: 6px solid rgb(133, 11, 239);
    margin-bottom: 15px;
    opacity: 0.7;
}
.four-div .cont .cards img:hover {
    opacity: 1;
}
.fifth-div {
    height: 700px;
    width: 100%;
    background-image: url("Images/pic-10.webp");
}
.fifth-div .head{
    height: 160px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.fifth-div .head h1 {
    font-size: 40px;
    margin-bottom: 15px;
}
.fifth-div .cont {
    height: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fifth-div .cont .firs {
    height: 270px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fifth-div .cont .seco {
    height: 270px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fifth-div .cont .card {
    height: 200px;
    width: 330px;
    display: flex;
    line-height: 23px;
    font-size: 15px;
    padding: 15px;
}
.fifth-div .cont .card h1 {
    color: blue;
    margin-right: 15px;
}
.sixth-div {
    height: 580px;
    width: 100%;
    background-color: blue;
}
.sixth-div .head {
    height: 200px;
    width: 100%;
    background-color: blue;
    text-align: center;
    padding-top: 40px;
    color: white;
}
.sixth-div .head h1 {
    margin-bottom: 15px;
}
.sixth-div .cont {
    height: 380px;
    width: 1050px;
    margin: auto;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sixth-div .cont .card {
    height: 270px;
    width: 500px;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
}
.sixth-div .cont .card .img {
    height: 270px;
    width: 200px;
    padding: 15px;
    opacity: 0.7;
}
.sixth-div .cont .card .img:hover {
    opacity: 1;
}
.sixth-div .cont .card .prof {
    height: 270px;
    width: 300px;
   
    padding: 10px;
    padding-top: 20px;
}
.sixth-div .cont .card .prof h4 {
    color: #838686;
    margin-bottom: 15px;
}
.sixth-div .cont .card .prof h2 {
    color: #f51247;
    margin-bottom: 15px;
}
.sixth-div .cont .card .prof p {
    line-height: 27px;
    margin-bottom: 17px;
}
.sixth-div .cont .card .prof i {
    color: #f51247;
    font-size: 25px;
    margin-right: 18px;
}
.seventh-div {
    height: 700px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: #acb0b0;
}
.seventh-div .left {
    height: 700px;
    width: 60%;
    background-color: #fff;
    padding: 180px 200px;
    line-height: 30px;  
}
.seventh-div .left #har {
    width: 45px;
    height: 5px;
    background-color: #f7044d;
    border-style: none;
}
.seventh-div .left #har-1 {
    width: 260px;
    height: 7px;
    background-color: #f7044d;
    border-style: none;
    position: absolute;
    left: 933.5px;
    top: 670px;
    
}
.seventh-div .left #har-2 {
    width: 260px;
    height: 7px;
    background-color: #f7044d;
    border-style: none;
    position: absolute;
    left: 1060px;
    top: 542.5px;
    rotate: 90deg;

   
}

.seventh-div .left h1 {
    margin: 15px 0px 15px 0px;
}
.seventh-div .left p {
    margin-bottom: 17px;
}
.seventh-div .left a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 7px 14px;
    border-radius: 6px;
}
.seventh-div .left a:hover {
    background-color: black;
    color: white;
    border-style: none;
}
.seventh-div .right img {
    position: absolute;
    top: 45px;
    left: 700px;
    border-radius: 5px;
    opacity: 0.7;
}
.seventh-div .right img:hover {
    opacity: 1;
}
.eight-div {
    height: 1300px;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: white;
}
.eight-div .head {
    height: 120px;
    width: 60%;
    margin-bottom: 18px;
    margin-top: -40px;
    text-align: center;
    color: white;
}
.eight-div .head h1 {
    margin-bottom: 10px;
    font-family: cursive;
    font-size: 40px;
}
.eight-div .card {
    height: 300px;
    width: 60%;
    margin-bottom: 18px;
    display: flex;
}
.eight-div .card .lef {
    height: 300px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eight-div .card .lef img {
    height: 220px;
    width: 220px;
    border: 5px solid #fff;
    border-radius: 10px;
}
.eight-div .card .lef img:hover {
    height: 230px;
    width: 230px;

}
.eight-div .card .rig {
    height: 300px;
    width: 65%;
    
    padding: 15px;
}
.eight-div .card .rig h2 {
    margin-bottom: 15px;
}
.eight-div .card .rig hr {
    width: 500px;
    height: 3px;
    background-color: #fff;
    border-style: none;
}
.eight-div .card .rig p {
    margin-top: 15px;
    line-height: 25px;
    margin-bottom: 30px;
}
.eight-div .card .rig a {
    color: rgb(7, 7, 7);
    background-color: azure;
    padding: 6px 14px;
    border-radius: 5px;
    text-decoration: none;
}
.eight-div .card .rig a:hover {
    box-shadow: 3px 3px 6px (236, 223, 223);
    background-color: black;
    color: white;
}
.nineth-div {
    height: 1100px;
    width: 100%;
    background-color: rgb(216, 225, 232);
    position: relative;
}
.nineth-div .one {
    height: 800px;
    width: 500px;
    background-color: rgb(249, 78, 86);
    position: absolute;
    top: 120px;
    left: 500px;
}
.nineth-div .two {
    height: 530px;
    width: 810px;
    position: absolute;
    top: 180px;
    left: 400px;
    display: flex;
    flex-direction: column;
}
.nineth-div .two .card {
    height: 250px;
    width: 250px;
    opacity: 0.7;
}
.nineth-div .two .card:hover {
    height: 260px;
    width: 260px;
    opacity: 1;

}
.nineth-div .two .top {
    height: 250px;
    width: 810px;
    display: flex;
    justify-content: space-between;
}
.nineth-div .two .bott {
    height: 250px;
    width: 810px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.nineth-div .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
   
}
.nineth-div .three {
    height: 330px;
    width: 350px;
    background-color: #fff;
    position: absolute;
    top: 650px;
    left: 900px;
    padding: 20px;
    line-height: 23px;
    border-radius: 8px;
}
.nineth-div .three h1 {
    margin-bottom: 15px;
}
.nineth-div .three p {
    margin-bottom: 40px;
}
.nineth-div .three a {
    color: white;
    background-color: blue;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
}
.nineth-div .three a:hover {
    background-color: black;
    color: white;
    border-style: none;
}
.tenth-div {
    height: 680px;
    width: 100%;
    background-image: url("Images/last.webp");
    display: flex;
    align-items: center;
    justify-content: center;
}
.tenth-div .follow {
    height: 400px;
    width: 650px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(241, 60, 63);
    padding: 60px 50px;
    text-align: center;
}
.tenth-div .follow h1 {
    font-size: 50px;
    margin-bottom: 25px;
}
.tenth-div .follow p {
    line-height: 24px;
    margin-bottom: 80px;
}
.tenth-div .follow i {
    font-size: 30px;
    margin-right: 15px;
}
.tenth-div .follow i:hover {
    font-size: 35px;
}
footer {
    height: 100px;
    width: 100%;
    background-color: #484c4c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span {
    font-size: 30px;
    margin-left: 10px;
    color: #f35f10;
    text-shadow: 2px 2px black;
}

